#welcome {
  display: flex;
  /* flex-direction: ; */
  height: 50vh;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  /* background-image: url("../images/misc/stone-steps.jpg"); */
}
.welcome-img {
  /* background-size: cover; */
  position: absolute;
  height: 50%;
  width: 99%;
}
.welcome-text {
  background-color: #0000009c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10000;
  color: white;
  width: 99%;
  height: 50%;
}
#welcome h1 {
  color: white;
}
#welcome h2 {
  font-size: 72px;
}
#welcome p {
  color: white;
  font-size: 3.8rem;
}

/* phone screen width */
@media (max-width: 450px) {
  #welcome h2 {
    font-size: 40px;
  }

  #welcome {
  }
}
@media (min-width: 576px) {
  /* #welcome h2 {
    font-size: 40px;
  } */
}
